.countdown {
    display: flex;
    align-items: center;
}
.countdown h2 {
    font-size: 2rem;
}
.countdown span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}