.categories{
    width: 100%;
    overflow-x: scroll;
    padding: 0 1rem;
}
.categories::-webkit-scrollbar {
    display: none;
}
.categories span{
    margin-right: 16px;
    opacity: 0.5;
    cursor: pointer;
}
.selected{
    opacity: 1!important;
    font-weight: 800;
}